<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>

    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
<table>
  <thead>
<tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= book.author.name %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.price %></td>
      </tr>
    <% end %>
  </tbody>


  </thead>
  <tbody>
    <% @books.each do |book| %>

  </tbody>
</table>

<%= paginate @books %>
<% end %>


<%= form_tag books_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search...' %>
  <%= submit_tag 'Search' %>
<% end %>

